.header-nav ul{
    margin-top: 195px;
}
.nav-bar{
    width: 100%;
    height: 250px;
    background: url("img/222.png");
}
.nav-bar ul li a{
    color: white;
    font-family: "KG Blank Space Sketch";
    font-size: large;
    padding-right: 20px;
    text-decoration: none;
}
.nav-bar ul li a:hover, .nav-bar ul li a:active{
    color: #d58512;
    font-family: "KG Blank Space Sketch";
    font-size: large;
    padding-right: 20px;
    text-decoration: none;
}
li{

    display: inline;
}
#dropdown1, #dropdown2{
    background: url("img/dropdown.jpg");
    margin-top: 25px;
}
.dropdown-content{
    width: 150px;
}
.dropdown-content li a{
    url("img/dropdown.jpg");
}
.footer{
    background:  linear-gradient(rgba(240, 142, 53, 0.58), rgba(149, 54, 23, 0.44)),
    url("img/p2.jpg");
    align-content: flex-end;
}
.footer-head{
    color: #0f0f0f;
    font-size: large;
    font-family: "KG Blank Space Sketch";
}
.footer-tail{
    font-family: "KG Broken Vessels Sketch";
    color: dimgray;
    font-size: medium;
}