<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="columbarium.dao.mybatis.mappers.FloorMapper">
	
	<!-- RESULTMAPS -->
	
		<resultMap type="java.lang.Integer" id="CountResultMap">
			<result property="intCount" column="COUNT(*)" />
		</resultMap>
		
		<resultMap type="Floor" id="FloorResultMap">
			<id property="floorId" column="floorId"/>
			<result property="buildingId" column="bldgIdFK"/>
			<result property="intFloorNo" column="intFloorNo"/>
			<result property="intLevelNo" column="intLevelNo"/>
			<result property="intColumnNo" column="intColumnNo"/>
		</resultMap>
		
		<resultMap type="UnitCategory" id="UnitCategoryResultMap">
			<id property="unitCategoryId" column="unitCategoryId"/>
			<result property="floorId" column="floorIdFK"/>
			<result property="intLevelNo" column="intLevelNo"/>
		</resultMap>
		
		<resultMap type="FloorType" id="FloorTypeResultMap">
			<id property="floorTypeId" column="floorTypeId"/>
			<result property="strFloorDesc" column="strFloorTypeDesc"/>
			<result property="boolIsUnit" column="boolIsUnit"/>
		</resultMap>
	
	<!-- END RESULTMAPS -->
	
	<!-- SELECT QUERIES -->
		
		<select id="checkIfExistingFloor" resultMap="CountResultMap">
			SELECT COUNT(*)
			FROM tblFloor
			WHERE bldgIdFK = #{buildingId}
				AND intFloorNo = #{intFloorNo}
				AND intStatus = 1
		</select>
		
		<select id="checkIfExistingUnitCategory" resultMap="CountResultMap">
			SELECT COUNT(*)
			FROM tblUnitCategory
			WHERE floorIdFK = #{floorId}
				AND intLevelNo = #{intLevelNo}
		</select>
		
		<select id="checkIfExistingFloorType" resultMap="CountResultMap">
			SELECT COUNT(*)
			FROM tblFloorType
			WHERE strFloorTypeDesc LIKE #{strFloorDesc}
		</select>
		
		<select id="getUnitCategory" resultMap="UnitCategoryResultMap">
			SELECT *
			FROM tblUnitCategory
			WHERE floorIdFK = #{floorId}
				intLevelNo = #{intLevelNo}
			LIMIT 1
		</select>
		
		<select id="getFloor" resultMap="FloorResultMap">
			SELECT * FROM tblFloor
			WHERE bldgIdFK = #{buildingId}
				AND intFloorNo = #{intFloorNo}
			LIMIT 1
		</select>
		
		<select id="getFloorType" resultMap="FloorTypeResultMap">
			SELECT * FROM tblFloorType
			WHERE strFloorTypeDesc LIKE #{strFloorDesc}
			LIMIT 1
		</select>
		
		<select id="getAllFloorType" resultMap="FloorTypeResultMap">
			SELECT * FROM tblFloorType
			ORDER BY strFloorTypeDesc ASC
		</select>
	
	<!-- END SELECT QUERIES -->
	
	<!-- INSERT QUERIES -->
		
		<insert id="createUnitCategory">
			INSERT INTO tblUnitCategory
				(floorIdFK, intLevelNo)
			VALUES
				(#{floorId}, #{intLevelNo})
		</insert>
		
		<insert id="createFloorType">
			INSERT INTO tblFloorType
				(strFloorTypeDesc, boolIsUnit)
			VALUES
				(#{strFloorDesc}, #{boolIsUnit})
		</insert>
		
	<!-- END INSERT QUERIES -->
	
	<!-- UPDATE QUERIES -->
		
		<update id="configureFloor">
			UPDATE tblFloor
			<set>
				floorTypeIdFK =
					(SELECT floorTypeId FROM tblFloorType
						WHERE strFloorTypeDesc = #{floorType.strFloorDesc}),
				<if test="intLevelNo != 0">
					intLevelNo = #{intLevelNo},
				</if>
				<if test="intColumnNo != 0">
					intColumnNo = #{intColumnNo}
				</if>
			</set>
			WHERE floorId = #{floorId}
		</update>
	
	<!-- END UPDATE QUERIES -->
	
	
	</mapper>