<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="columbarium.dao.mybatis.mappers.UnitMapper">
	
	<!-- RESULTMAPS -->
	
		<resultMap type="Unit" id="UnitResultMap">
			<id property="unitId" column="unitId"/>
			<result property="strUnitType" column="strUnitType"/>
			<result property="intLevelNo" column="intLevelNo"/>
			<result property="intColumnNo" column="intColumnNo"/>
			<result property="intStatus" column="intUnitStatus"/>
		</resultMap>
	
	<!-- END RESULTMAPS -->
	
	<!-- SELECT QUERIES -->
	
		<select id="getUnitById" resultMap="UnitResultMap">
			SELECT u.*, uc.intLevelNo
			FROM tblUnit u
				INNER JOIN tblUnitCategory uc ON u.unitCategoryIdFK = uc.unitCategoryId
			WHERE u.unitId = #{unitId}
		</select>
		
	<!-- END INSERT QUERIES -->
	
	<!-- UPDATE QUERIES -->
	
		<update id="deactivateUnit">
			UPDATE tblUnit
			SET intUnitStatus = 0
			WHERE unitId = #{unitId}
		</update>
		
		<update id="activateUnit">
			UPDATE tblUnit
			SET intUnitStatus = 1
			WHERE unitId = ${unitId}
		</update>
	
	<!-- END UPDATE QUERIES -->
	
	</mapper>