<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="database.properties" />
	
	<!-- List of Aliases -->
	
	<typeAliases>
	
		<typeAlias type="columbarium.model.Employee" alias="Employee"/>
		<typeAlias type="columbarium.model.Position" alias="Position"/>
		<typeAlias type="columbarium.model.Service" alias="Service"/>
		<typeAlias type="columbarium.model.Item" alias="Item"/>
		<typeAlias type="columbarium.model.Package" alias="Package"/>
		<typeAlias type="columbarium.model.Building" alias="Building"/>
		<typeAlias type="columbarium.model.Floor" alias="Floor"/>
		<typeAlias type="columbarium.model.Requirement" alias="Requirement"/>
	
	</typeAliases>
	
	<!-- End of List of Aliases -->
	
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- List of Mappers -->
	
	<mappers>
	
		<mapper resource="columbarium/dao/mybatis/mappers/EmployeeMapper.xml"/>
		<mapper resource="columbarium/dao/mybatis/mappers/ServiceMapper.xml"/>
		<mapper resource="columbarium/dao/mybatis/mappers/ItemMapper.xml"/>
		<mapper resource="columbarium/dao/mybatis/mappers/PackageMapper.xml"/>
		<mapper resource="columbarium/dao/mybatis/mappers/BuildingMapper.xml"/>
		<mapper resource="columbarium/dao/mybatis/mappers/RequirementMapper.xml"/>
	
	</mappers>
	
	<!-- End of List of Mappers -->
	
</configuration>