@font-face {
    font-family: myFirstFont;
    src: url(../fonts/KGBlankSpaceSketch.ttf);
}
.nav-birdifly nav{
    background-color: #ffa000;
}
*{
    padding: 0;
    margin: 0;
}
.h{
    visibility: hidden;
}
.dropdown-button {
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: #000000;
    color: white;
    font-family: myFirstFont;
    font-size: medium;
}
#db-content{
    background-color: #ffa000;
    font-family: myFirstFont;
    color: #ffffff;
}
.dropdown-content{
    margin-top: 55px;
    background-color: #ffffff;
    color: #000000;
}
.dropdown-content li a:hover{
    background-color: #ffa000;
    font-family: myFirstFont;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}
form{
    margin-top: 20px;
}
h4{
    font-family:  myFirstFont;
}
.modal-header{
    background-color: #00897b;
    padding-top: 15px;
    padding-bottom: 15px;
    position: static;
}
.modal-header label{
    font-family:  myFirstFont;
    color: #ffffff;
    font-size: xx-large;
    padding-left: 15px;
}
#btn-date{
    width: 100px;
}
#btn-time{
    margin-left: 0;
}
.dropdown-button{
    width: 150px;
}

