@font-face {
    font-family: myFirstFont;
    src: url(../fonts/KGBlankSpaceSketch.ttf);
}

.aside {
    height: 330px;
    width: 100%;
}

h1 {
    padding-left: 100px;
    font-family: myFirstFont;
}

h2 {
    font-family: myFirstFont;
    padding-left: 30px;
    font-size: 40px;

}

h4 {
    font-family: myFirstFont;
    font-size: 40px;
    padding-left: 40px;
}

h5 {
    font-family: myFirstFont;
    font-size: 20px;
    padding-left: 10px;
}

h6{
    font-family: myFirstFont;
    font-size: x-large;
}

.modal-header h3 {
    font-family: myFirstFont;
    font-size: 40px;
    padding-left: 20px;
}

.dropdown-button {
    margin-left: 10px;
}

/* label color */
.input-field label {
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: mediumseagreen;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid mediumseagreen;
    box-shadow: 0 1px 0 0 mediumseagreen;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid mediumseagreen;
    box-shadow: 0 1px 0 0 mediumseagreen;
}

.header h4 {
    background-color: #00897b;
    color: white;
    height: 50px;
    font-family: myFirstFont;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 35px;
}

.modal-header {
    background-color: #00897b;
    height: 70px;
}

.modal-header h4 {
    color: white;
    font-family: myFirstFont;
    padding-top: 10px;
}

ul li a {
    color:white;
    font-size: 17px;
}


