@font-face {
    font-family: myFirstFont;
    src: url(../fonts/KGBlankSpaceSketch.ttf);
}

@font-face {
    font-family: myFirstFont1;
    src: url(../fonts/NEOTERICc%20-%20Bold%20DEMO%20VERSION.ttf);
}


