
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black !important;
  font-size: large;
  overflow-x: hidden;
}

.content{
  margin-top: 20px;
  margin-bottom: 20px;
  transition: transform 0.4s ease;
}

.active-nav nav{
  transform: translate3d(0, 0, 0);
}

.nav-icon{
  margin-top: 30px;
  margin-bottom: 20px;
}

nav{
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #eeeeee;
  transform: translate3d(-200px, 0, 0);
  transition: transform 0.4s ease;
}

nav ul{
  list-style: none;
  margin-top: 70px;
}

nav ul li a{
  text-decoration: none;
  display:block;
  text-align: center;
  color: black;
  padding: 10px 0;
}

.nav-toggle-btn{
  text-decoration: none;
  display: block;
  position: absolute;
  left: 200px;
  width: 45px;
  height: 45px;
  background-color: #dddddd;
  font-size: x-large;
  text-align: center;
  font-weight: 900;
}

.active-nav .nav-toggle-btn{
  margin-top: 0;
}

.active-nav .content{
  transform: translate3d(200px, 0, 0);
}
nav ul li a:hover{
  color: white;
  background-color: black;
}
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  vertical-align: middle;
  position: relative;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul {
  margin-top: 1px;
}
#cssmenu ul ul li {
  font-weight: normal;
}

#cssmenu {
  width: 200px;
  background: #eeeeee;
  zoom: 1;
  font-size: large;
}
#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a {
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
#cssmenu > ul {
  width: 200px;
}
#cssmenu ul ul {
  width: 200px;
}
#cssmenu > ul > li > a {
  border-right: 4px solid #eeeeee;
  color: #000000;
}
#cssmenu > ul > li > a:hover {
  background-color: black;
  color: #ffffff;
}
#cssmenu li {
  position: relative;
}
#cssmenu ul ul {
  border: 1px solid #ffffff;
}
#cssmenu ul ul a {
  font-size: 12px;
  color: #ffffff;
}
#cssmenu ul ul li {
  border-bottom: 1px solid #ffffff;
}

























