@font-face {
    font-family: myFirstFont;
    src: url(../fonts/KGBlankSpaceSketch.ttf);
}
html{
    background-color: #ffffff;
}
.vaults-content {
    float: left;
}
table{
    margin-top: 10px;
    table-layout: fixed;
}
td{
    width: 10px;
    height: 10px;
}
table, td {
    border: 2px solid #00beab;
    color: #ffffff;
    background-color: #00897b;
}
td a{
    color: #ffffff;
    margin-left: 25%;
    margin-right: 25%;
    padding-right: 20px;
    text-decoration: none;
    font-family:  myFirstFont;
}
td a:hover, td a:active{
    color: #ffffff;
    margin-left: 25%;
    margin-right: 25%;
    padding-right: 20px;
    text-decoration: none;
    font-family:  myFirstFont;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
.h{
    visibility: hidden;
}
.modal-header{
    background-color: #00897b;
    padding: 15px;
}
.modal-header label{
    font-family:  myFirstFont;
    color: #ffffff;
    font-size: xx-large;
}
.modal-fixed-footer{
    position: fixed;
}
