<<<<<<< HEAD
#del{
    margin-left: 20px;
}
.data-grid table{
    width: 30px;
}
.nav-birdifly nav{
    background-color: saddlebrown;
}
h2{
    margin-left: 30px;
    font-family: "KG Blank Space Sketch";
}
#iba tr th{
    font-size: medium;
}


=======
>>>>>>> 51f88862beac3637ff06c7cf1771b4ef25771520
thead tr{
    background:  linear-gradient(rgba(163, 151, 91, 0.58), rgba(171, 152, 57, 0.44)),
    url("../img/p1.jpg");
}
thead tr th{
    font-size: xx-large;
    padding-left: 20px;
    font-family: "KG Blank Space Sketch";
    position: relative;
    text-shadow: 2px 2px #e2d5ad;
    color: #2f1706;
}
.mf .modal-trigger{
    margin-bottom: 10px;
    margin-right: 10px;
}
tbody tr td{
    padding-left: 20px;
    font-size: 17px;
    position: relative;
}
.modal-trigger{
    float: right;
    margin-right: 50px;
    color: #160b03;
    background:  linear-gradient(rgba(244, 225, 136, 0.58), rgba(243, 216, 80, 0.44)),
    url("../img/p1.jpg");
    font-family: "KG Blank Space Sketch";

}
.dropdown-button{
    color: #160b03;
    background:  linear-gradient(rgba(244, 225, 136, 0.58), rgba(243, 216, 80, 0.44)),
    url("../img/p1.jpg");
    font-family: "KG Blank Space Sketch";
    margin-top: 15px;

}
.modal-trigger:hover, .modal-trigger:active{

    font-family: "KG Blank Space Sketch";
    box-shadow: none;
}
.modal-header{
    background:  linear-gradient(rgba(235, 235, 148, 0.58), rgba(227, 222, 139, 0.44)),
    url("../img/p1.jpg");
    padding-top: 15px;
    padding-bottom: 15px;
    position: static;
}
.modal-header label{
    font-family: "KG Blank Space Sketch";
    text-shadow: 2px 2px #e2d5ad;
    color: #2f1706;
    font-size: xx-large;
    padding-left: 15px;
}
.h{
    visibility: hidden;
}
th{
    height: 70px;
    position: fixed;//para-kahit-magscroll-andun-parin-sa-taas-yung-header-para-sa-table
}

th, td {
    padding: 15px;
    text-align: center;
}

.search-customer-update input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search-customer-update input[type=text]:focus {
    width: 100%;
}
.row .modal-footer{
    margin-right: 50px;
}
form{
    margin-left: 10px;
    margin-right: 10px;
}