@font-face {
    font-family: myFirstFont;
    src: url(../fonts/KGBlankSpaceSketch.ttf);
}
#del{
    margin-left: 20px;
}
.data-grid table{
    width: 30px;
}
.nav-birdifly nav{
    background-color: darkred;
}
h2{
    margin-left: 30px;
    font-family:  myFirstFont;
}
#iba tr th{
    font-size: medium;
}
thead tr th{
    padding-left: 20px;
    font-family:  myFirstFont;
    position: relative;
    color: #000000;
}
.mf .modal-trigger{
    margin-bottom: 10px;
    margin-right: 10px;
}
tbody tr td{
    padding-left: 20px;
    font-size: 17px;
    position: relative;
}
.modal-trigger{
    float: right;
    margin-right: 50px;
    color: #ffffff;
    background: url("../img/bg.jpg");
    font-family:  myFirstFont;

}
.dropdown-button{
    color: #ffffff;
    background: url("../img/bg.jpg");
    font-family:  myFirstFont;
    margin-top: 15px;

}
.modal-trigger:hover, .modal-trigger:active{

    font-family: "KG Blank Space Sketch";
    box-shadow: none;
}
.modal-header{
    background: url("../img/bg.jpg");
    padding-top: 15px;
    padding-bottom: 15px;
    position: static;
}
.modal-header label{
    font-family:  myFirstFont;
    color: #ffffff;
    font-size: xx-large;
    padding-left: 15px;
}
.h{
    visibility: hidden;
}
th{
    height: 70px;
    position: fixed;//para-kahit-magscroll-andun-parin-sa-taas-yung-header-para-sa-table
}

th, td {
    padding: 15px;
    text-align: center;
}
.dropdown-content{
    margin-top: 45px;
    background:  url("../img/bg.jpg");
    font-family:  myFirstFont;
}
.dropdown-content li a, .dropdown-content li a:hover{
    color: #ffffff;
    background: url("../img/bg.jpg");
}
.search-customer-update input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search-customer-update input[type=text]:focus {
    width: 100%;
}
.row .modal-footer{
    margin-right: 50px;
}
form{
    margin-left: 10px;
    margin-right: 10px;
}