#slide-out-l {
    background-color: #171F0F;
}

#slide-out-r {
    background-color: #e3e3e3;
}

.side-nav .switch label {
    color: #fff;
}
/** Search Navbar Input**/

.side-nav li#nav-search {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);
}

.side-nav li#nav-search:hover,
.side-nav li#nav-search.active {
    background: #fff;
}

#slide-out-r li:hover,
#slide-out-r li.active {
    background-color: #e3e3e3;
}

#slide-out-l li:hover,
#slide-out-r li.active {
    background-color: #171F0F;
}
/** Custom Checkbox **/

.switch label .lever,
.switch label input[type=checkbox]:checked+.lever {
    background-color: #E7E8E4;
    width: 68px;
}

.switch label .lever:after,
.switch label input[type=checkbox]:checked+.lever:after {
    top: 0;
    height: 15px;
    background-color: #ffcc00;
    width: 45px;
}

.nav-birdifly nav{
    background-color: saddlebrown;
}

.aside {
    margin-left: 70px;
    height: 190px;
    width: 800px;
}

h1 {
    padding-left: 100px;
    font-family: "KG Blank Space Sketch";
}

h4{
    font-family: "KG Blank Space Sketch";
}