@font-face {
    font-family: myFirstFont;
    src: url(../fonts/KGBlankSpaceSketch.ttf);
}

#slide-out-l {
    background-color: #171F0F;
}

#slide-out-r {
    background-color: #e3e3e3;
}

.side-nav .switch label {
    color: #fff;
}
/** Search Navbar Input**/

.side-nav li#nav-search {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);
}

.side-nav li#nav-search:hover,
.side-nav li#nav-search.active {
    background: #fff;
}

#slide-out-r li:hover,
#slide-out-r li.active {
    background-color: #e3e3e3;
}

#slide-out-l li:hover,
#slide-out-r li.active {
    background-color: #171F0F;
}
/** Custom Checkbox **/

.switch label .lever,
.switch label input[type=checkbox]:checked+.lever {
    background-color: #E7E8E4;
    width: 68px;
}

.switch label .lever:after,
.switch label input[type=checkbox]:checked+.lever:after {
    top: 0;
    height: 15px;
    background-color: #ffcc00;
    width: 45px;
}

.nav-birdifly nav{
    background-color: darkred;
}

.aside {
    margin-left: 20px;
    height: 340px;
    width: 800px;
}

h1 {
    font-size: 15px;
    font-family: myFirstFont;
}


.h{
    visibility: hidden;
}

h2 {
    font-family: myFirstFont;
    padding-left: 45px;
    font-size: 50px;

}

h6{
    font-family: myFirstFont;
    font-size: x-large;
}

h5 {
    font-family: myFirstFont;
    font-size: 20px;
    padding-left: 20px;
}

h3 {
    font-family: myFirstFont;
    font-size: 50px;
    padding-left: 10px;
}

/* label color */
.input-field label {
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: red;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}


/* label focus color */
.input-field input[type=text]:focus + label {
    color: red;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/KGBlankSpaceSketch.ttf);
}

.header h4{
    font-family: myFirstFont;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 45px;
    color: white;
}

.header{
    background: url(../img/black_pattern1.jpg) repeat;
    height: 70px;
}

.striped {
    margin-top: 10px;
}

.modal-header {
    background: url(../img/black_pattern1.jpg) repeat;
    color: white;
    height: 70px;
}

.modal-header h4{
    font-family: myFirstFont;
    padding-left: 20px;
    font-size: 40px;
    color: white;
}












