html{
    background-color: #d6c577
}
.vaults-content {
    float: left;
    width: 420px;
    height: 355px;
    margin-left: 35%;
    margin-top: 8%;
}
table{
    margin-top: 20px;
}
table, td {
    border: 1px solid #160b03;
    width: auto;
    height: auto;
    color: #160b03;
    background:  linear-gradient(rgba(244, 225, 136, 0.58), rgba(243, 216, 80, 0.44)),
    url("../img/p1.jpg");
}
p{
    font-family: "KG Blank Space Solid";
    font-size: 20px;
    padding-left: 15px;
}
td a{
    color: #2f1706;
    margin-left: 25%;
    margin-right: 25%;
    padding-right: 20px;
    text-decoration: none;
    font-family: "KG Blank Space Solid";
    font-size: 20px;
}
td a:hover, td a:active{
    color: #2f1706;
    text-shadow: 2px 2px #e2d5ad;
    margin-left: 25%;
    margin-right: 25%;
    padding-right: 20px;
    text-decoration: none;
    font-family: "KG Blank Space Solid";
    font-size: 20px;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}
#building-no, #building-floor{
    margin-top: 33px;
    margin-left: 12px;
}
#spec1{
    font-family: "KG Blank Space Sketch";
    text-shadow: 2px 2px #e2d5ad;
    color: #2f1706;
    font-size: xx-large;
    padding-left: 15px;
    margin-left: 30%;
}
#spec{
    margin-left: 35px;
    font-family: "KG Blank Space Sketch";
    text-shadow: 2px 2px #e2d5ad;
    color: #2f1706;
    font-size: xx-large;
    padding-left: 15px;
}
.building-dropdown .dropdown-button{
    color: #c8af47;
    font-family: "KG Blank Space Solid";
    font-size: medium;
    background:  #160b03;
    margin-right: 20px;
    margin-bottom: 10px;
    border: solid 1px rgba(231, 202, 82, 0.74);
}
#building-no li a, #building-floor li a{
    background:  #160b03;
    color: #c8af47;
    font-family: "KG Blank Space Solid";
    font-size: medium;
    text-decoration: none;
    cursor: pointer;
    border: solid 1px rgba(231, 202, 82, 0.74);
}
#building-no li a:hover, #building-no li a:active, #building-floor li a:hover, #building-floor li a:active{
    background: #3a1d08;
    color: #f8d958;
    text-shadow: 4px 4px #160b03;
}
.h{
    visibility: hidden;
}
.modal-footer .modal-trigger,.modal-footer .modal-trigger:active{
    background:  linear-gradient(rgba(235, 235, 148, 0.58), rgba(227, 222, 139, 0.44)),
    url("../img/p1.jpg");
    color: #2f1706;
    font-family: "KG Blank Space Solid";
}
.modal-header{
    background:  linear-gradient(rgba(235, 235, 148, 0.58), rgba(227, 222, 139, 0.44)),
    url("../img/p1.jpg");
}
.modal-header label{
    font-family: "KG Blank Space Sketch";
    text-shadow: 2px 2px #e2d5ad;
    color: #2f1706;
    font-size: xx-large;
}
.modal-fixed-footer{
    position: fixed;
}
