thead tr th{
     font-size: 30px;
     font-family: "KG Blank Space Sketch";
 }

tbody tr td {
    font-size: 30px;
    font-family: "KG Blank Space Sketch";
}

.modal-trigger {
    margin-right: 230px;
    float: right;
}

.modal .modal-header {

    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
}

.stripped thead {
    background: linear-gradient(rgba(235, 235, 148, 0.58), rgba(227, 222, 139, 0.44)),
    url(../img/pattern1_karton.jpg) repeat;
}

